.questionContainer {
  padding: 20px;
  display: flex;
  flex-direction: column-reverse;
}

.questionList {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  place-content: center;
}

.question {
  background-color: rgb(255, 242, 236);
  margin: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  box-shadow: 5px 5px 5px #ccc;
  border: 2px solid rgb(133, 156, 177);
  border-radius: 5px;
  position: relative;
  transition: 0.4s;
}

.active {
  box-shadow: 5px 5px 5px #ccc;
  border: 3px solid #fff;
  background-color: #fff;
}

.formInput {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 70%;
  padding: 10px;
}

.formInput input {
  padding: 10px;
}

.actionButtons {
  padding: 25px;
  display: flex;
  justify-content: center;
}

.actionButtons button {
  width: 80px;
  cursor: pointer;
  margin: 0 10px;
}

.clearButton {
  box-shadow: 5px 5px 5px #ccc;
  border: 2px solid red;
  background-color: #fff;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
}

.questionActions {
  visibility: hidden;
  float: right;
  cursor: pointer;
  display: flex;
  height: 100%;
  align-items: center;
}

.questionActions a {
  margin-right: 5px;
}

.question:hover {
  background-color: #fff;
}

.question:hover .questionActions {
  visibility: visible;
}

.saveButton {
  box-shadow: 5px 5px 5px #ccc;
  border: 2px solid #555;
  background-color: rgb(230, 243, 255);
  padding: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 975px) {
  .questionList {
    grid-template-columns: 33% 33% 33%;
  }
  .questionActions {
    visibility: visible;
  }
}

@media only screen and (max-width: 790px) {
  .questionList {
    grid-template-columns: 50% 50%;
  }
}
