.assignmentContainer {
  padding: 20px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.assignmentForm {
  display: flex;
  flex-direction: column;
}

.assignmentForm input {
  padding: 10px;
  margin: 10px 0;
}

.formInput {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px auto;
  width: 70%;
}

label {
  font-weight: 500;
  margin-right: 10px;
  text-align: left;
}

.assignment {
  text-align: left;
  padding: 10px;
  background-color: aliceblue;
  margin: 10px;
  box-shadow: 5px 5px 5px #ccc;
  border: 3px solid rgb(133, 156, 177);
  border-radius: 10px;
  transition: 0.4s;
  word-wrap: break-word;
  text-align: center;
}

.assignment:hover {
  background-color: #fff;
}

.assignmentList {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.active {
  box-shadow: 5px 5px 5px #ccc;
  border: 3px solid #fff;
  background-color: #fff;
}

.actionButtons {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.actionButtons button {
  width: 80px;
  cursor: pointer;
}

.clearButton {
  box-shadow: 5px 5px 5px #ccc;
  border: 2px solid red;
  background-color: #fff;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
}

.assignmentActions {
  visibility: hidden;
  float: right;
  cursor: pointer;
}

.assignment:hover .assignmentActions {
  visibility: visible;
}

.saveButton {
  box-shadow: 5px 5px 5px #ccc;
  border: 2px solid #555;
  background-color: rgb(230, 243, 255);
  padding: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
}

select {
  padding: 10px;
  box-shadow: 5px 5px 5px #ccc;
  border: 1px solid rgb(226, 226, 226);
}

form select {
  margin: 10px 0;
}

.assigned {
  padding: 10px;
  width: 80%;
  margin: 5px auto;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 5px 5px #ccc;
  border: 1px solid lightgrey;
}

.assigned.user {
  background-color: rgb(245, 255, 247);
}

.assigned.question {
  background-color: rgb(255, 242, 236);
}

.actionsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete {
  cursor: pointer;
  margin: 4px;
  vertical-align: middle;
}

@media only screen and (max-width: 790px) {
  .assignmentContainer {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px 5px;
  }
  .user {
    word-break: break-word;
  }
}
